body {
    font-family: Arial, sans-serif;
	margin:0px !important;
	background-color:#aaa;
}

body {
    margin: 0px;
}
#inv-button {
    width: 320px;
  height:50px;
  left:0px;
  top:0px;
  background-color:#fff;
  opacity:0;
  cursor:pointer;
}


#ad {
    display: block;
    overflow: hidden;
    width: 320px;
  height:50px;
	border:0px none;
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#banner {
    position: absolute;
    display: block;
    width: 320px;
  height:50px;
    background-color:#39d278;
    overflow: hidden;
}

.top50 {
	top:-50px;
	left:-3px;
}

#banner {
}
i,img,div {
  display:block;
  position:absolute;
}


.anim {
opacity:1;
}
.o {
opacity: 0;
}
.l {
left: -300px;
}

#jpgs {
	left:1px;
	top:29px;
}

#border {
    position: absolute;
    display: block;
    width: 318px;
  height:48px;
	border:1px solid #2d2d2d;
}

#hro {
	width:23px;
	height:22px;
}

.text {
	font-size:10px;
	font-family:Arial, Helvetica;
	color:#fff;
	width:164px;
	height:26px;
	top:33px;
	text-align:center;
	display:inline-block;
}
